.pageContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px 20px;
  color: #fff;
  overflow: hidden;
}

.contentWrapper {
  display: grid;
  grid-template-areas: 
    "header form"
    "stats  form"
    "chart  form";
  grid-template-columns: 1fr auto;
  column-gap: 44px;
  row-gap: 24px;
  align-items: center;
  margin: auto 0;
}

.headerSection { grid-area: header; }
.statsSection { grid-area: stats; }
.formSection { grid-area: form; }
.chartSection { grid-area: chart; }

.title {
  font-size: 38px;
  font-weight: 500;
  margin: 0;
}

.description {
  font-size: 16px;
  color: rgba(250, 250, 250, 0.5);
  max-width: 600px;
  line-height: 1.5;
  margin: 13px 0 0 0;
}

@media (max-width: 1024px) {
  .pageContainer {
    height: auto;
    overflow-y: auto;
    padding: 20px 10px;
    display: block;
  }
  
  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-template-areas: none;
    grid-template-columns: 100%;
    align-items: center;
  }

  .title {
    font-weight: 400;
    font-size: 32px; /* Default for mobile */
    letter-spacing: -0.02em;
    color: #fafafa;
  }

  /* Tablet refinement */
  @media (min-width: 768px) {
    .title {
      font-size: 38px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
  }

  @media (max-width: 767px) {
    .description {
      margin-top: 20px;
    }
  }
}
