.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-color);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out;
}

.modal {
  background-color: var(--component-bg-color);
  border-radius: 30px;
  border: 1px solid rgba(250, 250, 250, 0.1);

  padding: 20px;

  position: relative;

  min-height: 260px;

  overflow-y: auto;
  animation: slideUp 0.3s ease-out;
}
@media only screen and (min-width: 768px) {
  .modal {
    padding: 40px;
    min-width: 500px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  stroke: var(--white);
  font-size: 20px;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  opacity: 1;
}
.closeButton:hover {
  opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  .xIcon {
    width: 24px;
    height: 24px;
  }
}
