.nav {
  width: 100%;
  max-width: 420px;
  margin-bottom: 29px;
  margin-top: 30px;
}
.links {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.link {
  font-size: 14px;
  height: 45px;
}
.linkUp {
  background-color: var(--green-neon);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 139px;
  border-radius: 40px;
  color: #0c0d0d;
}
.linkIn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 132px;
  border: 1px solid rgb(255, 255, 255, 0.4);
  border-radius: 40px;
}
.linkUp:hover,
.linkUp:focus {
  background-color: #0ebb69;
  transition: ease-in 0.1s;
}
.linkIn:hover,
.linkIn:focus {
  border-color: #0ef387;
  transition: ease-in 0.1s;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 100%;
    max-width: 420px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .links {
    justify-content: left;
  }
  .link {
    height: 47px;
    font-size: 16px;
  }
  .linkUp {
    width: 146px;
  }
  .linkIn {
    width: 138px;
  }
}
@media screen and (min-width: 1440px) {
  .nav {
    margin-bottom: 140px;
  }
}
